<div class="d-flex justify-content-center">
    <div>
        <h2 class="justify-content-center text-uppercase alert alert-info d-flex">{{name}}</h2>
        <ul class="list-group text-capitalize" style="width: 500px;">
            <li class="list-group-item">Breed<span class="float-end">{{breed}}</span></li>
            <li class="list-group-item">Age<span class="float-end">{{age}} years</span></li>
            <li class="list-group-item">Weight<span class="float-end">{{height}} cm</span></li>
            <li class="list-group-item">Height<span class="float-end">{{weight}} kg</span></li>
            <li class="list-group-item">Owner's Name<span class="float-end">{{owner_name}}</span></li>
        </ul>
    </div>
</div>