<div class="thumbnail">
    <img class="img-responsive" src="data:image/png;base64,{{thumbnail}}" class="img-thumbnail" style="height: 500px;">
    <div class="caption">
        <h4 class="pull-right">${{price}}/Night</h4>
        <h4><a>{{camp_name}}</a></h4>
        <p><em>Submitted by: {{user}}, {{created}} years ago</em></p>
        <p>{{description}}</p>
    </div>
</div>